{% from "macros/og.njk" import ogPost %}
{% from "macros/twitter.njk" import twitterPost %}
{% from "macros/jsonld.njk" import ldPost %}
{% from "macros/featured-image.njk" import featuredImage %}

{% set authorFullName = author.firstName | concatString(author.lastName, " ") %}
{% set postUrl = metadata.siteUrl | concatString(page.url) | url %}
{% set featureImageExtras = post.featuredImage.node.imageExtras %}

{% extends "layout.njk" %}

{% block pagemeta %}
    <title>{{ post.title }}</title>
    <link rel="canonical" href="{{ postUrl }}">
    <meta name="description" content="{{ post.metaDescription }}">
    <meta name="keywords" content="{{ post.keywords }}">
    <meta name="author" content="{{ author.firstName }} {{ author.lastName }}">
    <meta name="copyright" content="{{ author.firstName }} {{ author.lastName }}">
    {{ ogPost(postUrl, post.title, authorFullName, post.metaDescription, post.featuredImage | getFeaturedImageBySize(870, 600), post.ogPostDateIst, post.ogModifiedDateIst, post.category[0], post.category, post.tag) }}{{ twitterPost(metadata.twitterProfile, postUrl, post.title, post.metaDescription, post.featuredImage | getFeaturedImageBySize(870, 600)) }}{{ ldPost(metadata.siteUrl | url, authorFullName, metadata.profilePicMain, author.socialHandles.twitter, author.socialHandles.github, author.socialHandles.linkedin, author.socialHandles.devto, post.title, postUrl, post.metaDescription, post.ldPostDate, post.ldModifiedDate, post.featuredImage | getFeaturedImageBySize(870, 600), post.keywords) }}
{% endblock %}

{% block main %}<main class="single-post" tabindex="-1">
    <article aria-labelledby="page-main-content" class="single-post-article">
        <header class="article-header">
            <div aria-hidden="true" class="post-bg-image">
                {{ featuredImage(post.featuredImage) }}
            </div>
            <div class="article-header-holder">
                <h1 class="article-title" id="page-main-content">{{ post.title }}</h1>
                <div class="metadata">
                    <time class="datetime" datetime="{{ post.postDateUtc }}">{{ post.postDate }}</time>
                    <ul aria-label="Categories and Tags" class="post-tags" role="list">
                        {% for category in post.categories.nodes %}
                        <li><a href="{{ category.uri | url }}" title="{{ category.name }}">{{ category.name }}</a></li>
                        {% endfor %}
                        {% if post.tags.nodes | length %}
                            {% for tag in post.tags.nodes %}
                                <li><a href="{{ tag.uri | url }}" title="{{ tag.name }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="read-time">{{ post.readingTime }} min read</div>
                </div>
            </div>
        </header>
        <div aria-hidden="true" class="separator"></div>
        <hr class="single-post-top">
        <div class="article-body">
            <div class="article-holder">
                {{ post.content | safe }}
            </div>
        </div>
        {% if featureImageExtras.author %}
            <div class="image-extras">
                <span>Featured Image courtesy <a href="{{ featureImageExtras.authorLink }}" target="_blank">{{ featureImageExtras.author }}</a> at <a href="{{ featureImageExtras.providerUrl }}" target="_blank">{{ featureImageExtras.photoProvider }}</a></span>
            </div>
        {% endif %}
        <hr>

        <footer class="article-footer">
            <nav aria-label="Pagination links" class="pagination" role="navigation">
                {% if pagination.href.previous %}
                <a class="previous" data-direction="backwards" href="{{ pagination.href.previous | url }}">
                    <svg aria-hidden="true" class="h-4 w-4" fill="none" focusable="false" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 19l-7-7 7-7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                    <span>Previous post</span></a>
                {% endif %}
                {% if pagination.href.next %}
                <a class="next" data-direction="forwards" href="{{ pagination.href.next | url }}"><span>Next post</span>
                    <svg aria-hidden="true" class="h-4 w-4" fill="none" focusable="false" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                </a>
                {% endif %}
            </nav>
        </footer>
    </article>
</main>{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="{{ "/assets/css/prism.css" | url }}" type="text/css" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ "/assets/css/prism.css" | url }}" type="text/css" media="all"></noscript>{% endblock %}
