# Ignore secrets
/.env
/*.env
/*.env-*

# Ignore clutter from Netlify CLI
.netlify
/.netlify
/.netlify/**

# Ignore "node_modules"
/node_modules/
/node_modules/**

# Ignore "dist", my static output folder
/dist/
/dist/**

.idea
/assets
src/_tmp

.cache/*
!.cache/.gitkeep
