footer {
    &.site-footer {
        @apply shadow-footer pt-4 relative pb-4;

        > .footer-holder {
            @apply bg-site-body-bgcolor max-w-1371 mx-auto mt-0 text-center text-site-text-color text-0.9;

            .license {
                @apply p-0 hover:underline active:underline;
            }
        }
    }
}
