.home-page {
    @apply flex-1;

    > .home-content-holder {
        @apply max-w-1300 h-full flex flex-1 flex-col items-center justify-center mx-auto;

        .profile-pic {
            @apply text-center hmmax:mt-8;
        }
        .author-name {
            @apply text-center text-3xl mt-6;
        }
        .para {
            @apply mt-8 text-xl;
        }
        .intro-text {
            @apply text-site-home-intro-color block text-center;
        }
    }
}
