@import "./partials/variables.pcss";

@import "tailwindcss/base.css";
@import "./partials/core.pcss";
@import "./partials/header.pcss";
@import "./partials/pagination.pcss";
@import "./partials/footer.pcss";

@import "tailwindcss/components.css";
@import "./partials/theme-toggler.pcss";
@import "./partials/home.pcss";
@import "./partials/home-social.pcss";
@import "./partials/list-page.pcss";
@import "./partials/single-post.pcss";

@import "tailwindcss/utilities.css";


.root-hidden {
    display: none !important;
}
.root-block {
    display: block !important;
}
.hide-for-non-sr {
    height: 0;
    width: 0;
    overflow: hidden;
}
small, .text_small {font-size: 0.8em;}

.js-only, .sm-js-only {
    display: none;
}
html.js-present .js-only {
    display: inline-block;
}

@media (max-width: 640px) {
    html.js-present .sm-js-only {
        display: inline-block;
    }
    .sm-no-js {
        display: inline-block !important;
    }
    html.js-present .sm-no-js {
        display: none !important;
    }
}
